.hidden { display: none; }

button, .button, input[type=submit]{
    line-height: 2em;
    background-color: unset;
    color: black;
    line-height: 2em;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px 12px;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-family: unset;
    cursor: pointer;
}

button:disabled {
    color: gray;
    border-color: gray;
    cursor: auto;
}

input {
    line-height: 2em;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
