.hidden { display: none; }

button, .button, input[type=submit]{
    line-height: 2em;
    background-color: unset;
    color: black;
    line-height: 2em;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px 12px;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-family: unset;
    cursor: pointer;
}

input[type=file]::file-selector-button {
    background-color: red;
}

input {
    line-height: 2em;
}
